<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=general-sans@500,600,700,800,900&display=swap" rel="stylesheet">
  
  {%- style %}

    :root {
      --color-background: {{ settings.bg_color.red }}, {{ settings.bg_color.green }}, {{ settings.bg_color.blue }};
      --color-primary-text: {{ settings.primary_text_color.red }}, {{ settings.primary_text_color.green }}, {{ settings.primary_text_color.blue }};
      --color-primary-label: {{ settings.primary_label_color.red }}, {{ settings.primary_label_color.green }}, {{ settings.primary_label_color.blue }};
      --color-secondary-text: {{ settings.secondary_text.red }}, {{ settings.secondary_text.green }}, {{ settings.secondary_text.blue }};
      --color-primary-brand: {{ settings.primary_brand_color.red }}, {{ settings.primary_brand_color.green }}, {{ settings.primary_brand_color.blue }};
      --color-secondary-brand: {{ settings.secondary_brand_color.red }}, {{ settings.secondary_brand_color.green }}, {{ settings.secondary_brand_color.blue }};

      --page-width: {{ settings.page_width | divided_by: 10.0 }}rem;
    }
     
  {% endstyle -%}

  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">

  {%- unless settings.body_font.system? -%}
    <link rel="preload" href="{{ settings.body_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  {%- unless settings.heading_font.system? -%}
    <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin fetchpriority="high">
  {%- endunless -%}

  {{ content_for_header }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js" defer></script>
</head>

<body class='color-scheme'>
  {%- sections 'header-group' -%}

  <main id="main-content">
    {{ content_for_layout }}
  </main>

  {%- sections 'footer-group' -%}

  <script>
    window.theme = {
      routes: {
        cart: '{{ routes.cart_url }}',
        cartAdd: '{{ routes.cart_add_url }}',
        cartChange: '{{ routes.cart_change_url }}',
        cartUpdate: '{{ routes.cart_update_url }}',
        predictiveSearch: '{{ routes.predictive_search_url }}'
      },
    };
    window.APP_SUB_PATH = "choice-legacy-app"
    {% if customer %}
      window.customerLoggedIn = true;
      window.customerId = {{ customer.id }};
    {% else %}
      window.customerLoggedIn = false;
      window.customerId = null;
    {% endif %}
    window.shopDomain = '{{ shop.domain }}';
  </script>
  <script src="{{ 'wishlist.js' | asset_url }}" defer></script>
</body>
</html>
