{{ 'collections-list.css' | asset_url | stylesheet_tag }}
{% assign minShown = 5 %}
{% assign blockCount = section.blocks.size %}
{% if blockCount < minShown %}
  {% assign minShown = blockCount %}
{% endif %}

<style>
  .collections-list-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .collections-list__grid {
    display: grid;
    grid-template-columns: repeat({{ minShown }}, 1fr);
    justify-items: center;
    align-items: stretch;
  }

  .collections-list__swiper-wrapper {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .collections-list-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

     .collections-list__swiper-wrapper .swiper-container{
      gap:24px !important
     }

    .collections-list__grid {
      display: none;
    }

    .collections-list__swiper-wrapper {
      display: block;
    }

    .collections-list__swiper-wrapper .swiper-container {
      position: relative;
      padding-bottom: 20px;
    }

    .collections-list__swiper-wrapper .swiper-slide {
      box-sizing: border-box;
    }
     .collections-list__swiper-wrapper .swiper-slide:last-child {
      margin-right: 0;
    }

  }
</style>

<section class="collections-list collections-list-{{ section.id }}">
  <div class="collections-list__container page-width gap-64">
    {% if section.settings.title != blank %}
      <h2 class="collections-list__title ff-bebas-neue fw-400 fs-36-lh-40-ls-0pct">{{ section.settings.title }}</h2>
    {% endif %}

    <div class="collections-list__grid gap-24">
      {% for block in section.blocks %}
        {% if block.settings.collection %}
          <div class="collections-list__item" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.collection.url }}" class="collections-list__link">
              {% if block.settings.collection.featured_image %}
                {% render 'image',
                  image: block.settings.collection.featured_image,
                  width: 300,
                  alt_text: block.settings.collection.title,
                  css_classes: 'collections-list__image',
                  width_attr: '298px',
                  height_attr: '234px'
                %}
              {% else %}
                <div class="collections-list__image">
                  {{ 'collection-1' | placeholder_svg_tag: 'collections-list__image' }}
                </div>
              {% endif %}

              <div class="collections-list__content">
                <h3 class="collections-list__name ff-bebas-neue fw-400 fs-26-lh-26-ls-1_2pct">
                  {% if block.settings.collection.title %}
                    {{ block.settings.collection.title }}
                  {% else %}
                    {{ 'sections.collections_list.default_title' | t }}
                  {% endif %}
                </h3>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="collections-list__swiper-wrapper">
      <slideshow-component
        data-autoplay="false"
        data-show-progress-bar="true"
        data-slides-per-view-desktop="3"
        data-single-slide-view="true"
      >
        <div class="swiper-container flex flex-col gap-24">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.settings.collection %}
                <div class="swiper-slide collections-list__item" {{ block.shopify_attributes }}>
                  <a href="{{ block.settings.collection.url }}" class="collections-list__link">
                    {% if block.settings.collection.featured_image %}
                      {% render 'image',
                        image: block.settings.collection.featured_image,
                        width: 300,
                        alt_text: block.settings.collection.title,
                        css_classes: 'collections-list__image',
                        width_attr: '298px',
                        height_attr: '234px'
                      %}
                    {% else %}
                      <div class="collections-list__image">
                        {{ 'collection-1' | placeholder_svg_tag: 'collections-list__image' }}
                      </div>
                    {% endif %}

                    <div class="collections-list__content">
                      <h3 class="collections-list__name">
                        {{ block.settings.collection.title | default: 'Collection' }}
                      </h3>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% render 'slideshow-progress-bar' %}
        </div>
      </slideshow-component>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collections List",
  "tag": "section",
  "class": "shopify-section-collections-list",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Shop Beauty Product By Category"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection",
      "limit": 10,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections List",
      "blocks": [
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        },
        {
          "type": "collection_item"
        }
      ]
    }
  ]
}
{% endschema %}
