{{ 'feature-blog.css' | asset_url | stylesheet_tag }}

{% assign minShown = 4 %}
{% assign articleCount = section.settings.blog.articles.size %}
{% if articleCount < minShown %}
  {% assign minShown = articleCount %}
{% endif %}

<style>
  .blog-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .blog-section__content-grid {
    display: grid;
    grid-template-columns: repeat({{ minShown }}, 1fr);
    gap: 16px;
  }

  .blog-section__content-swiper {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .blog-section__content-grid {
      display: none;
    }

    .blog-section__content-swiper {
      display: block;
    }

    .blog-section__content-swiper .swiper-container {
      position: relative;
      padding-bottom: 20px;
    }

    .swiper-slide:last-child {
      margin-right: 0;
    }

    .blog-section__content-swiper .swiper-container .swiper-wrapper {
      gap:16px !important
    }

    .blog-card__image {
      height: 124px;
    }
  }
</style>

<article class="blog-section blog-section-{{ section.id }}">
  <div class="blog-section__container page-width gap-48">
    {% if section.settings.blog_title != blank %}
      <div class="blog-section__title fs-36-lh-40-ls-0pct ff-bebas-neue fw-400 mobile-fs-21-lh-24-ls-1_2pct">
        {{ section.settings.blog_title }}
      </div>
    {% endif %}

    <!-- Desktop Grid -->
    <div class="blog-section__content-grid">
      {% for article in section.settings.blog.articles limit: section.settings.blog_post_limit %}
        <div class="blog-card gap-16">
          <div class="blog-card__image">
            {% if article.image %}
              {% render 'image',
                image: article.image,
                width: 800,
                alt_text: article.image.alt,
                css_classes: 'blog-card__image',
                width_attr: '800',
                height_attr: '154',
              %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'blog-card__image' }}
            {% endif %}
          </div>
          <div class="blog-card__content gap-8">
            <h3 class="blog-card__title ff-general-sans fs-23-lh-24-ls-0 fw-500 mobile-fs-17-lh-24-ls-0 ">
              {{ article.title }}
            </h3>
            <p class="blog-card__excerpt ff-general-sans fs-14-lh-20-ls-0 fw-400">
              {{ article.content | strip_html | truncatewords: 20 }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Mobile Swiper -->
    <div class="blog-section__content-swiper">
      <slideshow-component
        data-autoplay="false"
        data-show-progress-bar="true"
        data-slides-per-view-desktop="2"
        data-single-slide-view="true"
        data-carousel-mode="true"
        data-slide-width-mobile="304px"
        data-slide-width-tablet="304px"
        data-slide-width-desktop="304px"
      >
        <div class="swiper-container flex flex-col gap-16">
          <div class="swiper-wrapper">
            {% for article in section.settings.blog.articles limit: section.settings.blog_post_limit %}
              <div class="swiper-slide blog-card gap-16">
                <div class="blog-card__image">
                  {% if article.image %}
                    <img
                      src="{{ article.image | image_url: width: 533 }}"
                      alt="{{ article.title | escape }}"
                      loading="lazy"
                      width="533"
                      height="154px"
                      class="blog-card__image"
                    >
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'blog-card__image' }}
                  {% endif %}
                </div>
                <div class="blog-card__content gap-8">
                  <h3 class="blog-card__title ff-general-sans fs-23-lh-24-ls-0 fw-500">{{ article.title }}</h3>
                  <p class="blog-card__excerpt ff-general-sans fs-14-lh-20-ls-0 fw-400">
                    {{ article.content | strip_html | truncatewords: 20 }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          {% render 'slideshow-progress-bar' %}
        </div>
      </slideshow-component>
    </div>
  </div>
</article>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "text",
      "id": "blog_title",
      "label": "Section Title",
      "default": "Our Blog"
    },
    {
      "type": "range",
      "id": "blog_post_limit",
      "label": "Number of blog posts to show",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 88,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Blog",
      "category": "Content"
    }
  ]
}
{% endschema %}
