{{ 'footer.css' | asset_url | stylesheet_tag }}

<style>
  .footer {
    padding-top: {{ section.settings.padding_top | default: 40 }}px;
    padding-bottom: {{ section.settings.padding_bottom | default: 40 }}px;
  }
</style>

<footer class="footer">
  <div class="footer__container page-width gap-16">
    <div class="footer__top gap-32">
      <div class="footer__brand gap-32">
        {% if settings.brand_logo != blank %}
          <img
            src="{{ settings.brand_logo | image_url: width: settings.logo_width }}"
            alt="{{ settings.logo_alt_text | default: shop.name | escape }}"
            loading="lazy"
            class="footer__brand-logo"
            width="{{ settings.logo_width }}"
            height="{{ settings.logo_height }}"
          >
        {% else %}
          <h1 class="footer__brand-title">{{ settings.logo_text }}</h1>
        {% endif %}

        <div class="footer__app-icons gap-8">
          {% render 'google-play-icon' %}
          {% render 'app-store-icon' %}
        </div>
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'link_list' and block.settings.menu != blank %}
          <div class="footer__menu gap-16">
            <div class="footer__menu-header">
              <h3 class="footer__menu-title fs-16-lh-24-ls-0 ff-general-sans fw-400">
                {{ block.settings.menu.title }}
              </h3>
              <button class="footer__menu-toggle" aria-expanded="false" aria-controls="menu-{{ forloop.index }}">
                {% render 'icon-plus' %}
                {% render 'icon-minus' %}
              </button>
            </div>
            <div class="footer__menu-list gap-16" id="menu-{{ forloop.index }}">
              {% for link in block.settings.menu.links %}
                <h2 class="footer__menu-item">
                  <a href="{{ link.url }}" class="footer__menu-link ff-inter fs-16-lh-24-ls-0 fw-500">
                    {{- link.title -}}
                  </a>
                </h2>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% if settings.social_facebook != blank
        or settings.social_instagram != blank
        or settings.social_linkedin != blank
        or settings.social_youtube != blank
        or settings.social_tiktok != blank
        or settings.social_twitter != blank
        or settings.social_snapchat != blank
        or settings.social_pinterest != blank
      %}
        <div class="footer__social footer__social-desktop gap-16">
          <div class="footer__social-header">
            <h2 class="footer__social-title fs-16-lh-24-ls-0 ff-general-sans fw-400">
              {{ 'sections.footer.social_media' | t }}
            </h2>
          </div>
          <div class="footer__social-list gap-16" id="social-menu">
            {%- render 'social-icons' -%}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="footer__bottom">
      <img
        src="{{ 'ssl-payment.png' | asset_url }}"
        alt="{{ 'sections.footer.payment_methods_alt' | t }}"
        class="footer__payment-image"
        loading="lazy"
        width="100%"
        height="auto"
      >
    </div>
  </div>
</footer>

<script src="{{ 'footer.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "limit": 3,
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "blocks": [
        {
          "type": "link_list"
        },
        {
          "type": "link_list"
        },
        {
          "type": "link_list"
        }
      ]
    }
  ]
}
{% endschema %}
